@*@model List<Hall>
<div class="row">
    @{foreach (var item in Model)
        {

            <div class="col-md-4 col-lg-4">
                <div class="thumbnail">
                    <img src="@Url.Content(item.Image)+@item.Image" class="img-thumbnail" alt="hall/@item.Name" />
                    <h2>@item.Name</h2>
                    <h4><span class="price"></span>@item.Price</h4>
                    <p>Located in @item.Locations.Name</p>
                    <p>Hall is for @item.Purposes.Select(x => x.Name)</p>
                    <p>@item.Description</p>
                </div>
            </div>
        }
    }

</div>*@